body {
    color: #010101;
    display: grid;
    grid-template: 20% auto 30% / 25% 25% 25% 25%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

header {
    background-color: #323232;
    color: #FDFDFD;
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    background-color: #010101;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav li {
    width: 100%;
    padding: 1.5rem;
    cursor: pointer;
    text-align: center;
}

nav li:hover {
    background-color: #FDFDFD;
    color: #010101;
}

main {
    background-color: #CBCBCB;
    grid-column: 1/4;
}

.aside-sidebar {
    background-color: #FDFDFD;
}

footer {
    background-color: #323232;
    color: #FDFDFD;
    grid-column: 1/5;
    text-align: center;
}

h3 {
    margin: 0;
}

main, footer, .aside-sidebar, header > h3 {
    padding-left: 1.5rem;
    padding-top: 1rem;
}